<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawson.demograllvm2.mapper.RegisterEntityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lawson.demograllvm2.entity.RegisterEntity">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="status" property="status" />
        <result column="consuming" property="consuming" />
        <result column="enabled" property="enabled" />
        <result column="hospital" property="hospital" />
        <result column="hospitalName" property="hospitalName" />
        <result column="areaid" property="areaid" />
        <result column="sub_date" property="subDate" />
        <result column="vaccine1" property="vaccine1" />
        <result column="vaccine2" property="vaccine2" />
        <result column="agent" property="agent" />
        <result column="wx_id" property="wxId" />
        <result column="url" property="url" />
        <result column="uuid" property="uuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_at, status, consuming, enabled, hospital, hospitalName, areaid, sub_date, vaccine1, vaccine2, agent, wx_id, url, uuid
    </sql>

</mapper>
